.main .center .centerTop{
    height: 44px;
    background-color: #0068b5;
    box-shadow: 0 -2px 5px rgba(204,204,204,0.3);
}

.main .center .centerTop h3{
    height: 44px;
    color: #fff;
    line-height: 44px;
    font-size: 18px;
    float: left;
}

.main .center .centerTop .other{
    float: right;
    margin-top: 13px;
}

.main .center .centerTop .other a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.main .center .centerTop .other .line{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin: 0 8px;
}  

.main .center .centerBottom .step{
    margin-top: 40px;
    margin-left: calc(50% - 315px);
    height:98px;
}

.main .center .centerBottom .step .pic{
    height: 24px;
    margin-bottom: 15px;
}

.main .center .centerBottom .step .pic span{
    display: inline-block;
    width: 210px;
    height: 24px;
    float: left;
}

.main .center .centerBottom .step .char span{
    display: inline-block;
    width: 210px;
    height: 14px;
    float: left;
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 14px;
}

.main .center .centerBottom .step .pic .pic1{
    background-image: url(../img/pic1.png);
}

.main .center .centerBottom .step .pic .pic2{
    background-image: url(../img/pic2.png);
}

.main .center .centerBottom .step .pic .pic3{
    background-image: url(../img/pic3.png);
}