.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: #fff;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}
ul.CodeMirror-hints.darcula {
	background-color: #fff !important;
}
ul.CodeMirror-hints.darcula li {
	color: #000;
}
ul.CodeMirror-hints.darcula li.CodeMirror-hint-active {
border: 1px solid #c9d5f9;
   background-color: rgba(201,213,249,0.3);
}


.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: #fff;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  color: #fff;
  border: 1px solid #c9d5f9;
  background-color: rgba(201,213,249,0.3);
}
