@font-face {
  font-family: 'debug';
  src:  url('fonts/debug.eot?ytsgio');
  src:  url('fonts/debug.eot?ytsgio#iefix') format('embedded-opentype'),
    url('fonts/debug.ttf?ytsgio') format('truetype'),
    url('fonts/debug.woff?ytsgio') format('woff'),
    url('fonts/debug.svg?ytsgio#debug') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'debug' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrows:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-checkbox:before {
  content: "\e903";
}
.icon-checkbox-h:before {
  content: "\e904";
}
.icon-class:before {
  content: "\e905";
}
.icon-clear:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-consol:before {
  content: "\e908";
}
.icon-del-all:before {
  content: "\e909";
}
.icon-del-dot:before {
  content: "\e90a";
}
.icon-file:before {
  content: "\e90b";
}
.icon-files:before {
  content: "\e90c";
}
.icon-files-open:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e90e";
}
.icon-log:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e910";
}
.icon-minimize:before {
  content: "\e911";
}
.icon-more:before {
  content: "\e912";
}
.icon-radio:before {
  content: "\e913";
}
.icon-radio-h:before {
  content: "\e914";
}
.icon-refresh:before {
  content: "\e915";
}
.icon-save:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-selected:before {
  content: "\e918";
}
.icon-set:before {
  content: "\e919";
}
.icon-skip-all:before {
  content: "\e91a";
}
.icon-skip-dot:before {
  content: "\e91b";
}
.icon-step-in:before {
  content: "\e91c";
}
.icon-step-out:before {
  content: "\e91d";
}
.icon-struct:before {
  content: "\e91e";
}
.icon-unlock:before {
  content: "\e91f";
}
